<section class="card">
  <a href="/story/{{id}}">
    <header>
      <div>{{title}}</div>
      <div id="poster">Posted on {{format_time createdAt}} by {{user.username}}</div>
    </header>
    <div class="card-subheader">Series: {{series}}</div>
    <div class="card-body">
      <body>{{description}}</body>
    </div>
  </a>
</section>