<section class="story">
  <h2>{{story.title}}</h2>
  <div class="story-details">
    <h3>{{story.name}}</h3>
    <p>{{story.content}}</p>
    <p>created on {{format_date story.createdAt}}</p>
    <p>Likes: {{story.likeCount}}</p>
  </div>
</section>
